.wrapper {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 100px (auto);
  grid-gap: 20px;
  background-color: bisque;
  font-size: 30px;
  background-image: ;
}

.body {
  background-image: url("Food-Images.png");
}